<p>{{qoute.name}} </p>
<p>{{qoute.description}}</p>
<p>downvotes: {{numberofdownvotes}}</p>
<p>upvotes: {{numberofupvotes}}</p>
 <P>This qoutes will be completed on {{qoute.completeDate|date}} date</P> 
 
 <button (click)=upvoteclick() class="btn d-inline btn-outline-success " class="pl-12" ><i class="fas fa-thumbs-up fa-2px"></i> </button>
 <button (click)=downvoteclick()  class="btn d-inline btn-outline-info "  class="pl-12" > <i class="fas fa-thumbs-down fa-2px"></i></button>
 <button (click)= "qouteDelete(true)" class="btn d-inline btn-outline-danger " class="pl-12" > <i class="fa fa-trash fa-2px"></i> </button>